*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
}

.container{
    width: 100vw;
    height: 100vh;
}

.links-container{
    border: 1px solid gray;
    width: 80%;
    margin: 0 auto;
    
}